// importing utilities (includes required mixins & variables)
@import "~bulma/sass/utilities/all";

// Import all the base styles
@import "~bulma/sass/base/all";

// Elements
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/notification";

// Components
@import "~bulma/sass/components/media";
@import "~bulma/sass/components/modal";
@import "~bulma/sass/components/card";

// Layout styles
@import "~bulma/sass/layout/all";

// Responsiveness style related classes
@import "~bulma/sass/grid/columns.sass";

// Form elements and their shared variables
@import "~bulma/sass/form/all";

//  Helper classes
@import "~bulma/sass/helpers/spacing";
@import "~bulma/sass/helpers/flexbox";
@import "~bulma/sass/helpers/color";

// Atomic classes
.overflow-auto {
  overflow: auto;
}

// General styles
html, body {
  font-family: 'Roboto', sans-serif;
}

.pointer-cursor {
  cursor: pointer;
}

.fixed {
  position: fixed;
  bottom: -1px;
}

.no-radius {
  border: none;
  border-radius: 0;
}